.drag-nav-wrapper {
  margin: auto;
  width: 120px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.drag-nav-scroll {
  width: 120px;
  position: relative;
  left: 0;
  top: 0;
}

.drag-nav-scroll ul {
  padding: 0;
  margin: 0;
  list-style: none;
  outline-style: none;
  display: block;
}

.drag-nav-scroll ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  outline-style: none;
  display: block;
  height: 40px;
  position: relative;
}

.drag-nav-scroll ul li i {
  position: absolute;
  top: 14px;
  right: 2px;
  font-size: 25px;
  color: #185AF5;
  z-index: 1;
  width: 12px;
  height: 12px;
  background: url("../images/enabled.png");
}

.drag-nav-center {
  border-right: 2px solid #ACB1B1;
  line-height: 40px;
  text-align: right;
  padding-right: 14px;
  margin-right: 7px;
  font-size: 13px;
}

.drag-nav-left {
  position: absolute;
  display: none;
  top: 10px;
  left: 29px;
}

.drag-nav-middle {
  width: 18px;
  position: absolute;
  top: 0;
  z-index: 2;
  right: 0;
  border-radius: 5px;
  background: url("../images/selected.png") no-repeat center !important;
}

.drag-nav-disabled {
  color: #C0B9B9;
}

.drag-nav-selected {
  right: 0px !important;
  top: 12px !important;
  background: url("../images/selected.png") !important;
  display: block;
  width: 17px !important;
  height: 17px !important;
}

.drag-nav-focus-flag {
  height: 40px;
  background: url("../images/focus.png") no-repeat 0 8px;
  color: #fff;
  position: absolute;
  width: 56px;
  left: 47px;
  text-align: center;
  font-size: 13px;
}

.drag-nav-focus-flag-big {
  height: 40px;
  background: url("../images/focus_70.png") no-repeat 0 8px;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 30px;
  text-align: left;
  font-size: 13px;
  padding-left: 3px;
}